{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <h3>About this website</h3>
            <table border = "1" cellpadding = "1%" class="center">
                <caption>HTML5/CSS Elements</caption>
                <br>
                <p><b>HTML5/CSS Elements</b></p>
                <tr>
                    <td><b>Characteristics</b></td>
                    <td><b>Elements/techniques</b></td>
                    <td><b>Examples</b></td>
                </tr>
                <tr>
                    <td>nav</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in the navigation menu</td>
                </tr>
                <tr>
                    <td>main</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in every page </td>
                </tr>
                <tr>
                    <td>article</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>section</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in all pages</td>
                </tr>
                <tr>
                    <td>aside</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>footer</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in all pages</td>
                </tr>
                <tr>
                    <td>details</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>meter</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>progress</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>abbr</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>address</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>universal</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used for the websites background color and font</td>
                </tr>
                <tr>
                    <td>tipo</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used to change the style of tables</td>
                </tr>
                <tr>
                    <td>classe</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in index</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused/td>
                </tr>
                <tr>
                    <td>atributo</td>
                    <td><i class="material-icons">check</i></td>
                    <td>links that have the character "in" will have a blueish background</td>
                </tr>
                <tr>
                    <td>pseudo-classe</td>
                    <td><i class="material-icons">check</i></td>
                    <td>used to change the colors of links</td>
                </tr>
                <tr>
                    <td>pseudo-elemento</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used to make every first letter in a sentence to be bigger</td>
                </tr>
                <tr>
                    <td>descendentes</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>filhos</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>adjacentes</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>imediatamente adjacentes</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Also used in quiz section </td>
                </tr>
                <tr>
                    <td>agrupar</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>Layouts</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Css grid used for the layout of the website</td>
                </tr>
                <tr>
                    <td>Responsivness</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Media queries were used to allow the website to adapt to different screen sizes</td>
                </tr>
                <tr>
                    <td>Selectors</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in every page</td>
                </tr>
                <tr>
                    <td>Animation</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Keyframe animation used to simulate a car driving</td>
                </tr>



            </table>



     <table border = "1" cellpadding = "1%" class="center">
                <caption>Django Elements</caption>
                <br>
                <p><b>Django Elements</b></p>
                <tr>
                    <td><b>Characteristics</b></td>
                    <td><b>Elements/techniques</b></td>
                    <td><b>Examples</b></td>
                </tr>
                <tr>
                    <td>url's</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used for every href</td>

                </tr>
                <tr>
                    <td>admin</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used for admin login and management</td>

                </tr>
                <tr>
                    <td>apps</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used to name the app</td>

                </tr>
                <tr>
                    <td>forms</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used in the quiz, comments and contacts</td>
                </tr>
                <tr>
                    <td>models</td>
                    <td><i class="material-icons">check</i></td>
                    <td>Used to create models for the quiz, comments and contacts forms</td>
                </tr>
                <tr>
                    <td>tests</td>
                    <td><i class="material-icons">close</i></td>
                    <td>Unused</td>
                </tr>
            </table>

            <br>
            <table border = "1" cellpadding = "1%" class="center">
                <caption>Inventory</caption>
                <p><b>Inventory</b></p>
                <tr>
                    <td><b></b></td>
                    <td><b>Nr of Elements</b></td>

                </tr>
                <tr>
                    <td>Pictures</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>Pages</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>Links</td>
                    <td>44</td>
                </tr>
                <tr>
                    <td>Videos</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Animations</td>
                    <td>2</td>
                </tr>


            </table>
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IgvGMYU24YI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br>
                  <img src="{% static 'img/Arvore.png' %}">
                  <figcaption>Website map</figcaption>

{% block footer %}
    <img src="{% static 'img/wordcloud.jpg' %}" alt="cloud">
{% endblock %}

{% endblock %}
