{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br>
    <b><H1>Scuderia AlphaTauri Honda</H1></b>
    <img src="{% static 'img/AlphaTauri.jpg' %}" alt="AlphaTauri Logo" width="600" height="300">
    <p><b>Base</b> Faenza, Italy </p>
    <p><b>Team Chief</b> Franz Tost </p>
    <p><b>Technical Chief</b> Jody Egginton </p>
    <p><b>Chassis</b> AT02 </p>
    <p><b>Power Unit</b> Honda </p>
    <p><b>First Team Entry</b> 1985 </p>
    <p><b>World Championships</b> N/A </p>
    <p><b>Highest Race Finish</b> 1 (x2) </p>
    <p><b>Pole Positions</b> 1 </p>
    <p><b>Fastest Laps</b> 1 </p>
    <img src="{% static 'img/Pierre Gasly 1.jpg' %}" alt="Gasly" width="300" height="300">
    <figcaption>Pierre Gasly</figcaption>
    <img src="{% static 'img/Yuki Tsunoda 1.jpg' %}" alt="Tsunoda" width="300" height="300">
    <figcaption>Yuki Tsunoda</figcaption>
    <br>
    <hr>
    <br>
    <p>
        Scuderia AlphaTauri, or simply AlphaTauri, and competing as Scuderia AlphaTauri Honda, is an Italian Formula One
        racing team and constructor.
        It is one of two Formula One constructors owned by Austrian beverage company Red Bull, the other being Red Bull
        Racing.
        The constructor was rebranded for the 2020 Formula One World Championship from "Toro Rosso" to "AlphaTauri" in
        order to promote the AlphaTauri fashion brand.
        According to Franz Tost and Helmut Marko, Scuderia AlphaTauri is no longer the junior team but the sister team
        to Red Bull Racing.
    </p>
{% endblock %}
