{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br>
            <b><H1>Alpine F1 Team</H1></b>
            <img src="{% static 'img/Alpine.jpg' %}" alt="Alpine Logo" width="600" height="300" >
            <p><b>Base</b> Enstone, United Kingdom </p>
            <p><b>Team Chief</b> Davide Brivio </p>
            <p><b>Technical Chief</b> Pat Fry / Remi Taffin </p>
            <p><b>Chassis</b> A521 </p>
            <p><b>Power Unit</b> Renault </p>
            <p><b>First Team Entry</b> 1986 </p>
            <p><b>World Championships</b>  2 </p>
            <p><b>Highest Race Finish</b> 1 (x20) </p>
            <p><b>Pole Positions</b> 20 </p>
            <p><b>Fastest Laps</b>15 </p>
            <img src="{% static 'img/Fernando Alonso 1.jpg' %}" alt="Alonso" width="300" height="300" >
            <figcaption>Fernando Alonso</figcaption>
            <img src="{% static 'img/Esteban Ocon 1.jpg' %}" alt="Ocon" width="300" height="300" >
            <figcaption>Esteban Ocon</figcaption>
            <br>
            <hr>
            <br>
            <p>
                Alpine F1 Team is a Formula One constructor which made its debut at the start of the 2021 Formula One World Championship.
                Formerly named Renault F1 Team and owned by the French automotive company Groupe Renault, the team was rebranded for 2021 to promote Renault's sports car brand, Alpine, and continues to serve as Renault's works team.
                The chassis and managerial side of the team is based in Enstone, Oxfordshire, England, and the engine side of the team is based in Viry-Châtillon, a suburb of Paris, France.
            </p>
{% endblock %}
