{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br>
            <b><H1>Scuderia Mission Winnow Ferrari</H1></b>
            <img src="{% static 'img/Ferrari.jpg' %}" alt="Ferrari Logo" width="600" height="300" >
            <p><b>Base</b> Maranello, Italy </p>
            <p><b>Team Chief</b> Mattia Binotto </p>
            <p><b>Technical Chief</b> Enrico Cardile / Enrico Gualtieri </p>
            <p><b>Chassis</b> SF21 </p>
            <p><b>Power Unit</b> Ferrari </p>
            <p><b>First Team Entry</b> 1950 </p>
            <p><b>World Championships</b> 16 </p>
            <p><b>Highest Race Finish</b> 1 (x239) </p>
            <p><b>Pole Positions</b> 221 </p>
            <p><b>Fastest Laps</b> 253 </p>
            <img src="{% static 'img/Charles Leclerc 1.jpg' %}" alt="Leclerc" width="300" height="300" >
            <figcaption>Charles Lecrec</figcaption>
            <img src="{% static 'img/Carlos Sainz 1.jpg' %}" alt="Sainz" width="300" height="300" >
            <figcaption>Carlos Sainz</figcaption>
            <br>
            <hr>
            <br>
            <p>
                Scuderia Ferrari is the racing division of luxury Italian auto manufacturer Ferrari and the racing team that competes in Formula One racing.
                The team is also nicknamed "The Prancing Horse", with reference to their logo.
                It is the oldest surviving and most successful Formula One team, having competed in every world championship since the 1950 Formula One season.
                The team was founded by Enzo Ferrari, initially to race cars produced by Alfa Romeo, though by 1947 Ferrari had begun building its own cars.
                Among its important achievements outside Formula One are winning the World Sportscar Championship, 24 Hours of Le Mans, 24 Hours of Spa, 24 Hours of Daytona, 12 Hours of Sebring, Bathurst 12 Hour, races for Grand tourer cars and racing on road courses of the Targa Florio, the Mille Miglia and the Carrera Panamericana.
                The team is also known for its passionate support base known as the tifosi. The Italian Grand Prix at Monza is regarded as the team's home race.
            </p>
            <br>
            <p>
                As a constructor, Ferrari has a record 16 Constructors' Championships, the last of which was won in 2008.
                Alberto Ascari, Juan Manuel Fangio, Mike Hawthorn, Phil Hill, John Surtees, Niki Lauda, Jody Scheckter, Michael Schumacher and Kimi Räikkönen have won a record 15 Drivers' Championships for the team.
                Since Räikkönen's title in 2007 the team narrowly lost out on the 2008 drivers' title with Felipe Massa and the 2010 and 2012 drivers' titles with Fernando Alonso.
                The 2020 Tuscan Grand Prix marked Ferrari's 1000th Grand Prix in Formula One.
            </p>
            <br>
            <p>
                Michael Schumacher is the team's most successful driver.
                Joining the team in 1996 and departing in 2006, he won five consecutive drivers' titles and 72 Grands Prix for the team.
                His titles came consecutively between 2000 and 2004, and the team won consecutive constructors' titles between 1999 and 2004; this was the team's most successful period.
                The team's 2021 drivers are Charles Leclerc and Carlos Sainz Jr..
            </p>
{% endblock %}
