{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br>
            <b><H1>Pierre Gasly</H1></b>
            <img src="{% static 'img/Pierre Gasly 2.jpg' %}" alt="Gasly" width="300" height="300" >
            <p><b>Team</b> AlphaTaurin </p>
            <p><b>Country</b> France </p>
            <p><b>Podiums</b> 2 </p>
            <p><b>Points</b> 199 </p>
            <p><b>Grands Prix entered</b> 65 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 1 (x1) </p>
            <p><b>Highest grid position</b> 4 </p>
            <p><b>Date of birth</b> 07/02/1996 </p>
            <p><b>Place of birth</b> Rouen, France </p>
            <br>
            <hr>
            <br>
            <p>
                Pierre Gasly (born 7 February 1996) is a French racing driver, currently competing in Formula One under the French flag, racing for Scuderia AlphaTauri. He is the 2016 GP2 Series champion, and the runner-up in the 2014 Formula Renault 3.5 Series and the 2017 Super Formula Championship. He made his Formula One debut with Toro Rosso at the 2017 Malaysian Grand Prix. He moved to Red Bull Racing in 2019, before moving back after trading with Alexander Albon from Toro Rosso between the Hungarian and Belgian rounds to partner Daniil Kvyat. Gasly took his maiden Formula One victory at the 2020 Italian Grand Prix while driving for AlphaTauri.


            </p>


{% endblock %}
