{% extends 'base.html' %}
{% load static %}
{% block main %}
     <br>
            <b><H1>Antonio Giovinazzi</H1></b>
            <img src="{% static 'img/Antonio Giovinazzi 2.jpg' %}" alt="Giovinazzi" width="300" height="300" >
            <p><b>Team</b> Alfa Romeo Racing </p>
            <p><b>Country</b> Italy </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b>18 </p>
            <p><b>Grands Prix entered</b> 41</p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 5 (x1) </p>
            <p><b>Highest grid position</b> 7 </p>
            <p><b>Date of birth</b> 14/12/1993 </p>
            <p><b>Place of birth</b> Martina Franca, Italy </p>
            <br>
            <hr>
            <br>
            <p>
                Antonio Maria Giovinazzi (born 14 December 1993) is an Italian racing driver currently competing in Formula One for Alfa Romeo Racing. He was the 2015 FIA Formula 3 European Championship runner-up and raced with Prema in the 2016 GP2 Series, again finishing runner-up with five wins and eight overall podiums. Giovinazzi was chosen by Scuderia Ferrari to be their third and reserve driver for the 2017 season. He made his competitive debut for Sauber at the 2017 Australian Grand Prix, replacing the injured Pascal Wehrlein. He also replaced Wehrlein at the following Chinese Grand Prix as Wehrlein continued his recovery. Giovinazzi signed a contract to race full-time for Alfa Romeo Racing in 2019.
            </p>
            <br>

{% endblock %}

