{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br>
            <b><H1>Uralkali Haas F1 Team</H1></b>
            <img src="{% static 'img/Hass.jpg' %}" alt="Hass Logo" width="600" height="300" >
            <p><b>Base</b> Kannapolis, United States </p>
            <p><b>Team Chief</b> Guenther Steiner </p>
            <p><b>Technical Chief</b> Simone Resta </p>
            <p><b>Chassis</b> VF-21 </p>
            <p><b>Power Unit</b> Ferrari </p>
            <p><b>First Team Entry</b> 2016 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest Race Finish</b> 4 (x1) </p>
            <p><b>Pole Positions</b> N/A </p>
            <p><b>Fastest Laps</b> 2 </p>
            <img src="{% static 'img/Mick Schumacher 1.jpg' %}" alt="Schumacher" width="300" height="300" >
            <figcaption>Mick Schumacher</figcaption>
            <img src="{% static 'img/Nikita Mazepin 1.jpg' %}" alt="Mazepin" width="300" height="300" >
            <figcaption>Nikita Mazepin</figcaption>
            <br>
            <hr>
            <br>
            <p>
                Haas Formula LLC, competing as Uralkali Haas F1 Team, is an American Formula One racing team established by NASCAR Cup Series team co-owner Gene Haas in April 2014.
                The team originally intended to make its debut at the start of the 2015 season but later elected to postpone their entry until the 2016 season. The team principal for the Haas F1 team is Guenther Steiner.
            </p>
            <br>
            <p>
                The team is headquartered in Kannapolis, North Carolina, United States – 31 mi (50 km) from Charlotte – alongside sister team and NASCAR entrant Stewart-Haas Racing, though the two teams are separate entities.
                The team also established a forward base in Banbury, England, for the purpose of turning cars around between races during the European part of the calendar.
            </p>
{% endblock %}
