{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block main %}
    <br>
            <h3>Introduction</h3>
            <br>
            <p>
                Formula One (also known as Formula 1 or F1) is the highest class of international auto racing for single-seater formula racing cars sanctioned by the Fédération Internationale de l'Automobile (<a href="https://en.wikipedia.org/wiki/F%C3%A9d%C3%A9ration_Internationale_de_l%27Automobile" class="b">FIA</a>).
                The World Drivers' Championship, which became the FIA Formula One World Championship in 1981, has been one of the premier forms of racing around the world since its inaugural season in 1950.
                The word formula in the name refers to the set of rules to which all participants' cars must conform.
                A Formula One season consists of a series of races, known as Grands Prix (French for 'grand prizes' or 'great prizes'), which take place worldwide on purpose-built circuits and closed public roads.
            </p>
            <br>
            <br>
            <br>
            <a href="alfa-romeo.html"><img src="{% static 'img/Alfa_Romeo_Car.png' %}" alt="romeu" width= "225" height= "140" style="transform:rotate(90deg); " class="carro1 animation1"></a>
            <a href="alphatauri.html"><img src="{% static 'img/AlphaTauri_Car.png' %}" alt="Tauri" width= "225" height= "140" style="transform:rotate(90deg); " class="carro2 animation1"></a>
            <a href="alpine.html"><img src="{% static 'img/Alpine_Car.png' %}" alt="Tauri" width= "225" height= "140" style="transform:rotate(90deg); " class ="carro3 animation1"></a>
            <a href="aston-martin.html"><img src="{% static 'img/Aston_Martin_Car.png' %}" alt="Aston-Martin" width= "225" height= "140" style="transform:rotate(90deg); " class="carro4 animation1"></a>
            <a href="ferrari.html"><img src="{% static 'img/Ferrari_Car.png' %}" alt="Ferrari" width= "225" height= "140" style="transform:rotate(90deg); " class="carro5 animation1"></a>
            <a href="haas.html"><img src="{% static 'img/Haas_Car.png' %}" alt="Haas" width= "225" height= "140" style="transform:rotate(90deg); " class="carro6 animation1"></a>
            <a href="mclaren.html"><img src="{% static 'img/McLaren_Car.png' %}" alt="McLaren" width= "225" height= "140" style="transform:rotate(90deg); " class="carro7 animation1"></a>
            <a href="mercedes.html"><img src="{% static 'img/Mercedes_Car.png' %}" alt="Tauri" width= "225" height= "140" style="transform:rotate(90deg); " class="carro8 animation1"></a>
            <a href="red-bull.html"><img src="{% static 'img/Red_Bull_Car.png' %}" alt="Tauri" width= "225" height= "140" style="transform:rotate(90deg); " class="carro9 animation1"></a>
            <a href="williams.html"><img src="{% static 'img/Williams_Car.png' %}" alt="Tauri" width= "225" height= "140" style="transform:rotate(90deg); " class="carro10 animation1"></a>
            <img src="{% static 'img/Safety_Car.png' %}" alt="Tauri" width="175" height="275" class ="vert-move carro11">
            <br>
{% endblock %}
