{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Nicholas Latifi</H1></b>
            <img src="{% static 'img/Nicholas Latifi 2.jpg' %}" alt="Latifi" width="300" height="300" >
            <p><b>Team</b> Williams </p>
            <p><b>Country</b> Canada </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b> 0 </p>
            <p><b>Grands Prix entered</b> 18 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 11 (x3) </p>
            <p><b>Highest grid position</b> 15 </p>
            <p><b>Date of birth</b> 29/06/1995 </p>
            <p><b>Place of birth</b> Montreal, Canada </p>
            <br>
            <hr>
            <br>
            <p>
                Nicholas Daniel Latifi (born 29 June 1995) is a Canadian racing driver currently competing in Formula One for Williams under the Canadian flag. He made his Formula One debut at the 2020 Austrian Grand Prix and is the 2019 Formula 2 runner-up.
            </p>
            <br>

{% endblock %}

