{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
    <b><H1>Charles Leclerc</H1></b>
    <img src="{% static 'img/Charles Leclerc 2.jpg' %}" alt="Leclerc" width="300" height="300">
    <p><b>Team</b> Ferrari </p>
    <p><b>Country</b> Monaco </p>
    <p><b>Podiums</b> 12 </p>
    <p><b>Points</b> 409 </p>
    <p><b>Grands Prix entered</b> 60 </p>
    <p><b>World Championships</b> N/A </p>
    <p><b>Highest race finish</b> 1 (x2) </p>
    <p><b>Highest grid position</b> 1 </p>
    <p><b>Date of birth</b> 16/10/1997 </p>
    <p><b>Place of birth</b> Monte Carlo, Monaco </p>
    <br>
    <hr>
    <br>
    <p>
        Charles Marc Hervé Perceval Leclerc (born 16 October 1997) is a Monégasque racing driver, currently racing in
        Formula One for Scuderia Ferrari, under the Monégasque flag. Leclerc won the GP3 Series championship in 2016 and
        the FIA Formula 2 Championship in 2017.
    </p>
    <br>
    <p>
        Leclerc made his Formula One debut in 2018 for Sauber, a team affiliated with Ferrari, for which he was part of
        the Ferrari Driver Academy. With Sauber having finished last the year before, Leclerc led the charge to improve
        the finishing position in the constructors' championship to eighth, being the higher ranked of the two Sauber
        drivers.
    </p>
    <br>
    <p>
        Starting from 2019 and contracted until the end of the 2024 season, Leclerc is currently driving for Ferrari. He
        became the second-youngest driver to qualify on pole position in Formula One at the 2019 Bahrain Grand Prix. The
        2019 season also saw Leclerc take his first career win in Belgium, followed by winning his first Italian Grand
        Prix as a Ferrari driver the week after. He won the Pole Trophy in the 2019 season becoming the youngest driver
        ever and the first non-Mercedes driver to win it since the trophy's inception in 2014.
    </p>

{% endblock %}
