{% extends 'base.html' %}
{% load static %}
{% block main %}
  <br>
            <b><H1>Nikita Mazepin</H1></b>
            <img src="{% static 'img/Nikita Mazepin 2.jpg' %}" alt="Mazepin" width="300" height="300" >
            <p><b>Team</b> Haas F1 Team </p>
            <p><b>Country</b> Russian Automobile Federation </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b> 0 </p>
            <p><b>Grands Prix entered</b> 1 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 0 (x0) </p>
            <p><b>Highest grid position</b> 19 </p>
            <p><b>Date of birth</b> 02/03/1999 </p>
            <p><b>Place of birth</b> Moscow, Russia </p>
            <br>
            <hr>
            <br>
            <p>
                Nikita Dmitryevich Mazepin (born 2 March 1999) is a Russian racing driver who is currently racing for Haas F1 Team in the 2021 Formula One World Championship under a neutral flag representing the Russian Automobile Federation. He previously competed in the FIA Formula 2 Championship for Hitech Racing.
            </p>
{% endblock %}
