{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Mercedes-AMG Petronas F1 Team</H1></b>
            <img src="{% static 'img/Mercedes.jpg' %}" alt="Mercedes Logo" width="600" height="300" >
            <p><b>Base</b> Brackley, United Kingdom </p>
            <p><b>Team Chief</b> Toto Wolff </p>
            <p><b>Technical Chief</b> James Allison </p>
            <p><b>Chassis</b> W12 </p>
            <p><b>Power Unit</b> Mercedes </p>
            <p><b>First Team Entry</b> 1970 </p>
            <p><b>World Championships</b> 7 </p>
            <p><b>Highest Race Finish</b> 1 (x107) </p>
            <p><b>Pole Positions</b> 118 </p>
            <p><b>Fastest Laps</b> 76 </p>
            <img src="{% static 'img/Lewis Hamilton 1.jpg' %}" alt="Hamilton" width="300" height="300" >
            <figcaption>Lewis Hamilton</figcaption>
            <img src="{% static 'img/Valtteri Bottas 1.jpg' %}" alt="Bottas" width="300" height="300" >
            <figcaption>Valtteri Bottas</figcaption>
            <br>
            <hr>
            <br>
            <p>
                Daimler AG, through its Mercedes-Benz brand, has been involved in Formula One as both team owner and engine manufacturer for various periods since 1954.
                They currently own 33 percent of the team based in Brackley, England, which is currently named Mercedes-AMG Petronas F1 Team and uses a German licence.
                Mercedes-branded teams are often referred to by their nickname, the "Silver Arrows".
            </p>
            <br>
            <p>
                Before the Second World War Mercedes-Benz competed in the European Championship, winning three titles.
                The marque debuted in Formula One in 1954. After winning their first race at the 1954 French Grand Prix, driver Juan Manuel Fangio won another three Grands Prix to win the 1954 Drivers' Championship and repeated this success in 1955.
                Despite winning two Drivers' Championships, Mercedes-Benz withdrew from motor racing after 1955 in response to the 1955 Le Mans disaster.
            </p>
            <br>
            <p>
                Mercedes returned to Formula One in 1994 as an engine manufacturer in association with Ilmor, a British independent high-performance autosport engineering company, which developed their engines.
                The company won one constructors' title and three drivers' titles in a works partnership with McLaren which lasted until 2009.
                In 2005, Ilmor was rebranded as Mercedes AMG High Performance Powertrains.
            </p>
            <br>
            <p>
                In 2010, the company bought the Brawn GP team, rebranding it as Mercedes.
                After a major rule shake-up in 2014, Mercedes has become one of the most successful teams in Formula One history; having achieved consecutive Drivers' and Constructors' Championships from 2014 to 2020.
                It has set the new record for most wins in a season (19 in 2016), and for most consecutive constructors' titles.
            </p>
            <br>
            <p>
                The manufacturer has collected more than 200 wins as an engine supplier and is ranked second in Formula One history.
                Nine Constructors' and 13 Drivers' Championships have been won with Mercedes-Benz engines.
            </p>
{% endblock %}
