{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Lando Norris</H1></b>
            <img src="{% static 'img/Lando Norris 2.jpg' %}" alt="Norris" width="300" height="300" >
            <p><b>Team</b> McLaren </p>
            <p><b>Country</b> United Kingdom </p>
            <p><b>Podiums</b> 1 </p>
            <p><b>Points</b> 158 </p>
            <p><b>Grands Prix entered</b> 39</p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 3 (x1) </p>
            <p><b>Highest grid position</b> 3 </p>
            <p><b>Date of birth</b> 13/11/1999 </p>
            <p><b>Place of birth</b> Bristol, England </p>
            <br>
            <hr>
            <br>
            <p>
                Lando Norris (born 13 November 1999) is a Belgian-British racing driver currently competing in Formula One with McLaren, racing under the British flag. He won the MSA Formula championship in 2015, and the Toyota Racing Series, Eurocup Formula Renault 2.0 and Formula Renault 2.0 Northern European Cup in 2016. He also received the McLaren Autosport BRDC Award that year. He subsequently won the 2017 FIA Formula 3 European Championship. He was a member of the McLaren Young Driver Programme.
            </p>
            <br>
{% endblock %}
