{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Esteban Ocon</H1></b>
            <img src="{% static 'img/Esteban Ocon 2.jpg' %}" alt="Ocon" width="300" height="300" >
            <p><b>Team</b> Alpine </p>
            <p><b>Country</b> France </p>
            <p><b>Podiums</b> 1 </p>
            <p><b>Points</b> 198 </p>
            <p><b>Grands Prix entered</b> 68 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 2 (x1) </p>
            <p><b>Highest grid position</b> 3 </p>
            <p><b>Date of birth</b> 17/09/1996 </p>
            <p><b>Place of birth</b> Évreux, Normandy </p>
            <br>
            <hr>
            <br>
            <p>
                Esteban José Jean-Pierre Ocon-Khelfane (born 17 September 1996) is a French racing driver who competes for Alpine in Formula One, racing under the French flag. He made his Formula One debut for Manor Racing in the 2016 Belgian Grand Prix, replacing Rio Haryanto. Ocon was a part of the Mercedes driver development programme until his move to Renault. In 2020, he achieved his first podium in Formula One by finishing second at the 2020 Sakhir Grand Prix.
            </p>
            <br>
{% endblock %}
