{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Sergio Perez</H1></b>
            <img src="{% static 'img/Sergio Perez 2.jpg' %}" alt="Perez" width="300" height="300" >
            <p><b>Team</b> Red Bull Racing </p>
            <p><b>Country</b> Mexico </p>
            <p><b>Podiums</b> 10 </p>
            <p><b>Points</b> 716 </p>
            <p><b>Grands Prix entered</b> 194 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 1 (x1) </p>
            <p><b>Highest grid position</b> 3 </p>
            <p><b>Date of birth</b> 26/01/1990 </p>
            <p><b>Place of birth</b> Guadalajara, Mexico </p>
            <br>
            <hr>
            <br>
            <p>
                Sergio Pérez Mendoza born 26 January 1990, nicknamed "Checo", is a Mexican racing driver who races in Formula One for Red Bull Racing, having previously driven for Sauber, McLaren, Force India and Racing Point. He won his first Formula One Grand Prix at the 2020 Sakhir Grand Prix, breaking the record for the number of starts before a race win at 190.
            </p>
            <br>
            <p>
                Pérez was a member of the Ferrari Driver Academy until 2012. He made his Formula One debut driving for Sauber during the 2011 season. He took his first Formula One podium at the 2012 Malaysian Grand Prix with Sauber. Due to his young age and performance, he was referred to as "The Mexican Wunderkind". Pérez joined McLaren for the 2013 season, but the team did not score a single podium finish. Subsequently, for the 2014 season, the team decided to replace Pérez with Kevin Magnussen.
            </p>
            <br>
            <p>
                Force India signed Pérez for the 2014 season with a €15 million contract. He remained with Force India when the team went into administration in 2018 and reformed as the Racing Point team 2019. In 2019, Racing Point signed a three-year extension with Pérez. In September 2020, Racing Point announced that Pérez would be leaving the team at the end of the season as Sebastian Vettel, a four-time F1 world champion, had been signed to replace him. Subsequently, Pérez signed with Red Bull Racing for the 2021 season, replacing Alex Albon.
            </p>
{% endblock %}
