{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>Red Bull Racing Honda</H1></b>
            <img src="{% static 'img/Red Bull.jpg' %}" alt="Red Bull Logo" width="600" height="300" >
            <p><b>Base</b> Milton Keynes, United Kingdom </p>
            <p><b>Team Chief</b> Christian Horner </p>
            <p><b>Technical Chief</b> Pierre Waché </p>
            <p><b>Chassis</b> RB16B </p>
            <p><b>Power Unit</b> Honda </p>
            <p><b>First Team Entry</b> 1997 </p>
            <p><b>World Championships</b> 4 </p>
            <p><b>Highest Race Finish</b> 1 (x64) </p>
            <p><b>Pole Positions</b> 64 </p>
            <p><b>Fastest Laps</b> 68 </p>
            <img src="{% static 'img/Max Verstappen 1.jpg' %}" alt="Verstappen" width="300" height="300" >
            <figcaption>Max Verstappen</figcaption>
            <img src="{% static 'img/Sergio Perez 1.jpg' %}" alt="Perez" width="300" height="300" >
            <figcaption>Sergio Perez</figcaption>
            <br>
            <hr>
            <br>
            <p>
                Red Bull Racing, competing as Red Bull Racing Honda, also simply known as Red Bull or RBR, is a Formula One racing team, racing a Honda powered car under an Austrian licence and based in the United Kingdom.
                The team raced under a British licence from 2005 to 2006 and has raced under an Austrian licence since 2007.
                It is one of two Formula One teams owned by beverage company Red Bull GmbH; the other being Scuderia AlphaTauri (previously Scuderia Toro Rosso).
                The team has been managed by Christian Horner since its formation in 2005.
            </p>
            <br>
            <p>
                Red Bull had Cosworth engines in 2005 and Ferrari engines in 2006.
                The team used engines supplied by Renault between 2007 and 2018 (from 2016 to 2018, the Renault engine was re-badged "TAG Heuer" following the breakdown in the relationship between Red Bull and Renault in 2015).
                During this partnership, they won four successive Drivers' and Constructors' Championship titles from 2010 to 2013, becoming the first Austrian team to win the title.
                The team began using Honda engines in 2019.
                Following Honda's exit from Formula One as a works entity after 2021, the team will take over the maintenance of the Honda power units through Red Bull Powertrains Limited and continue racing them after a freeze on development.
            </p>
{% endblock %}
