{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>George Russell</H1></b>
            <img src="{% static 'img/George Russell 2.jpg' %}" alt="Russell" width="300" height="300" >
            <p><b>Team</b> Williams </p>
            <p><b>Country</b> United Kingdom </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b> 3 </p>
            <p><b>Grands Prix entered</b> 39</p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 9 (x1) </p>
            <p><b>Highest grid position</b> 2 </p>
            <p><b>Date of birth</b> 15/02/1998 </p>
            <p><b>Place of birth</b> King's Lynn, England </p>
            <br>
            <hr>
            <br>
            <p>
                George William Russell (born 15 February 1998) is a British racing driver currently competing in Formula One, contracted to Williams. He was the 2018 FIA Formula 2 Champion for ART and the 2017 GP3 Series Champion. Following his Formula 2 championship win, Russell signed for Williams in 2019, making his début at the 2019 Australian Grand Prix, alongside Robert Kubica. Russell is contracted to drive for Williams until the conclusion of the 2021 season, although he stood in for Lewis Hamilton at Mercedes at the 2020 Sakhir Grand Prix.
            </p>
            <br>

{% endblock %}
