{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>Carlos Sainz</H1></b>
            <img src="{% static 'img/Carlos Sainz 2.jpg' %}" alt="Sainz" width="300" height="300" >
            <p><b>Team</b> Ferrari </p>
            <p><b>Country</b> Spain </p>
            <p><b>Podiums</b> 2 </p>
            <p><b>Points</b> 376 </p>
            <p><b>Grands Prix entered</b> 120 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 2 (x1) </p>
            <p><b>Highest grid position</b> 3 </p>
            <p><b>Date of birth</b> 01/09/1994 </p>
            <p><b>Place of birth</b> Madrid, Spain </p>
            <br>
            <hr>
            <br>
            <p>
                Carlos Sainz Vázquez de Castro , otherwise known as Carlos Sainz Jr.  or simply Carlos Sainz, (born 1 September 1994) is a Spanish racing driver competing in Formula One for Scuderia Ferrari. He is the son of Carlos Sainz, a double World Rally Champion, and the nephew of rally driver Antonio Sainz . In 2012 Sainz raced in the British and European Formula 3 championships for Carlin. He raced for DAMS in the 2014 Formula Renault 3.5 season, winning the championship before moving to F1 with Toro Rosso.
            </p>
            <br>
            <p>
                Sainz moved to McLaren for the 2019 season, to replace Fernando Alonso, who had left F1 while at the same time ending his contract with Red Bull Racing. At the 2019 Brazilian Grand Prix Sainz took his maiden Formula One podium finish with third. Sainz added another podium by finishing second at Monza the following year before departing for Ferrari at the end of that season.
            </p>
            <br>
{% endblock %}
