{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>Mick Schumacher</H1></b>
            <img src="{% static 'img/Mick Schumacher 2.jpg' %}" alt="Schumacher" width="300" height="300" >
            <p><b>Team</b> Haas F1 Team </p>
            <p><b>Country</b> Germany </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b> 0 </p>
            <p><b>Grands Prix entered</b> 1 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 16 (x1) </p>
            <p><b>Highest grid position</b> 18 </p>
            <p><b>Date of birth</b> 22/03/1999 </p>
            <p><b>Place of birth</b> Vufflens-le-Château, Switzerland </p>
            <br>
            <hr>
            <br>
            <p>
                Mick Schumacher (born 22 March 1999) is a German racing driver, who races for Haas in Formula One, and is also a member of the Ferrari Driver Academy. He began his career in karting in 2008, progressing to the German ADAC Formula 4 by 2015. After winning the 2018 FIA F3 European Championship, Schumacher progressed to Formula 2 in 2019, and won the 2020 Formula 2 Championship the following year. He is the son of seven-time Formula One World Champion Michael Schumacher and nephew of Ralf Schumacher.
            </p>
            <br>

{% endblock %}
