{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>Lance Stroll</H1></b>
            <img src="{% static 'img/Lance Stroll 2.jpg' %}" alt="Stroll" width="300" height="300" >
            <p><b>Team</b> Aston Martin </p>
            <p><b>Country</b> Canada </p>
            <p><b>Podiums</b> 3 </p>
            <p><b>Points</b> 143 </p>
            <p><b>Grands Prix entered</b> 79 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 3 (x3) </p>
            <p><b>Highest grid position</b> 1 </p>
            <p><b>Date of birth</b> 29/10/1998 </p>
            <p><b>Place of birth</b> Montreal, Canada </p>
            <br>
            <hr>
            <br>
            <p>
                Lance Stroll (born 29 October 1998) is a Belgian-Canadian racing driver competing under the Canadian flag in Formula One. He drives for Aston Martin in 2021, having previously driven for Williams and Racing Point. He was Italian F4 champion in 2014, Toyota Racing Series champion in 2015, and 2016 FIA European Formula 3 champion. He was part of the Ferrari Driver Academy from 2010 to 2015. He achieved his first podium finish, a 3rd place, at the 2017 Azerbaijan Grand Prix, becoming the second-youngest driver to finish an F1 race on the podium and the youngest (and latest as of the end of 2020) to do so during his rookie season. At the 2020 Turkish Grand Prix, Stroll took his first pole position in Formula One. Stroll also competed in endurance racing, taking part in the 24 Hours of Daytona in 2016 and 2018.
            </p>
            <br>

{% endblock %}
