{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>
            <b><H1>Yuki Tsunoda</H1></b>
            <img src="{% static 'img/Yuki Tsunoda 2.jpg' %}" alt="Yuki" width="300" height="300" >
            <p><b>Team</b> AlphaTauri </p>
            <p><b>Country</b> Japan </p>
            <p><b>Podiums</b> N/A </p>
            <p><b>Points</b> 2 </p>
            <p><b>Grands Prix entered</b> 1 </p>
            <p><b>World Championships</b> N/A </p>
            <p><b>Highest race finish</b> 9 (x1) </p>
            <p><b>Highest grid position</b> 13 </p>
            <p><b>Date of birth</b> 11/05/2000 </p>
            <p><b>Place of birth</b> Sagamihara, Japan </p>
            <br>
            <hr>
            <br>
            <p>
                Yuki Tsunoda (born 11 May 2000) is a Japanese racing driver who is racing for Scuderia AlphaTauri in Formula One. Backed by Honda since 2016 through the Honda Formula Dream Project, he was the 2018 Japanese F4 champion and in 2019 also received backing from Red Bull. He finished third in the 2020 Formula 2 Championship and made his Formula One debut in 2021 for AlphaTauri, a team owned by Red Bull and using Honda engines.
            </p>
            <br>

{% endblock %}
