{% extends 'base.html' %}
{% load static %}
{% block main %}
 <br>
            <b><H1>Sebastian Vettel</H1></b>
            <img src="{% static 'img/Sebastian Vettel 2.jpg' %}" alt="Vettel" width="300" height="300" >
            <p><b>Team</b> Aston Martin </p>
            <p><b>Country</b> Germany </p>
            <p><b>Podiums</b> 121 </p>
            <p><b>Points</b> 3018 </p>
            <p><b>Grands Prix entered</b> 259 </p>
            <p><b>World Championships</b> 4 </p>
            <p><b>Highest race finish</b> 1 (x53) </p>
            <p><b>Highest grid position</b> 1 </p>
            <p><b>Date of birth</b> 03/07/1987 </p>
            <p><b>Place of birth</b> Heppenheim, Germany </p>
            <br>
            <hr>
            <br>
            <p>
                Sebastian Vettel (born 3 July 1987) is a German racing driver who competes in Formula One for Aston Martin, having previously driven for BMW Sauber, Toro Rosso, Red Bull and Ferrari. Vettel has won four World Drivers' Championship titles which he won consecutively from 2010 to 2013. The sport's youngest World Champion, as of 2020, Vettel has the third most race victories (53) and podium finishes (121) and the fourth most pole positions (57).
            </p>
            <br>
            <p>
                Vettel started his Formula One career as a test driver for BMW Sauber in 2006, making a one-off racing appearance in 2007. Part of the Red Bull young-driver programme, Vettel appeared for Toro Rosso later that year and was kept as a full-time driver for 2008. Vettel was promoted to Red Bull in 2009. With Red Bull, Vettel won four consecutive titles from 2010 to 2013, the first of which made him the sport's youngest World Champion, setting the records for the most consecutive race wins (9) and race wins in a single season (13). Vettel signed for Ferrari for 2015 and became Mercedes' and Lewis Hamilton's closest challenger in two title fights in 2017 and 2018, although he finished both years as runner-up.
            </p>

{% endblock %}
